@model List<Chambre>
    <h2>Chambres du 2ème étage</h2>

@if (Model.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Type</th>
                <th>Étage</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Chambre chambre in Model)
            {
                <tr>
                    <td>@chambre.Numero</td>
                    <td>@chambre.Type</td>
                    <td>@chambre.Numero_etage</td>
                    <td>@chambre.Date_Debut</td>
                    <td>@chambre.Date_Fin</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aucune chambre dans le 2ème étage.</p>
}

<!-- Vous pouvez ajouter du style CSS ou d'autres éléments d'interface utilisateur selon vos besoins -->
